@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

@font-face {
  font-family: 'Sundays';
  src: url('../public/fonts/Sunday.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Galorines';
  src: url('../public/fonts/Galorine.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.fade-in {
  opacity: 0; 
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.fade-in.visible {
  opacity: 1; 
  transform: translateY(0);
}


body {
  font-family:'Galorines', 'Druk Cond Trial', 'Poppins', 'Roboto', sans-serif;
  font-style: normal;    
  font-weight: 400;
  initial-letter: 2rem;
}

.main-title {
  font-family: 'Sundays', 'Poppins', 'Roboto', sans-serif;
}

@media (max-width: 640px) {
  .video-container {
    pointer-events: none; /* Disable interactions with the video */
  }
}